.byregion-container {
  display: flex;
  font-family: Arial, sans-serif;
  gap: 20px;
  padding: 20px;
  background-color: #f9f9f9;
}

.layout {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}

.map-container {
  flex: 1;
  text-align: center;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.map-container h1 {
  font-size: 1.8rem;
  font-weight: bold;
  color: rgb(16, 39, 11);
  margin-bottom: 20px;
}

.map-container img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 8px;
}

.region-select-container {
  margin-top: 20px;
}

.region-select {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.restaurant-list-container {
  flex: 3;
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  height: 80vh; /* Adjust height to fit content */
}

.restaurant-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.restaurant-item {
  flex: 0 0 calc(33.333% - 20px); /* Adjust box width */
  max-width: calc(33.333% - 20px);
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}

.restaurant-item img {
  width: 100%;
  height: 150px;
  border-radius: 8px;
  margin-bottom: 10px;
  object-fit: cover;
}

.restaurant-item h3 {
  font-size: 1.2rem;
  margin-bottom: 8px;
  font-weight: bold;
  color: #222;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.restaurant-item p {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 8px;
  line-height: 1.5;
  text-align: left;
  overflow-wrap: break-word;
}
