.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  /* 기본 스타일 */
body, html {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.login-page {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.notice-page {
  background-color: #f9f9f9;
  padding: 20px;
}

.notice-head{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #000000;
}

.notice-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.notice-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.notice-title {
  font-size: 18px;
  font-weight: bold;
  color: #007bff;
  margin-bottom: 10px;
}

.notice-content {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
  line-height: 1.6;
}

.notice-date {
  font-size: 12px;
  color: #999;
}
